html {
  scroll-behavior: smooth; }

body {
  font-family: "Nunito";
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

.btns:hover {
  background: #867bfb;
  border: 3px solid #867bfb !important; }
.tech-img div p {
 color: white;
  font-weight: 500;
  margin-top: 5px;
  font-size: 1.5rem;
}
.tech-img div {
 margin: 0px 1rem;
}
.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Text styles */
  text-align: center;
  color: white;
  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/programmer.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.hero h1 {
  /* Text styles */
  font-size: 5em;
  text-shadow: 3px 1px black;
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em; }

.hero h2 {
  font-size: 3rem;
  font-weight: bold; }

.hero .btns {
  display: block;
  width: 200px;
  transition-duration: 0.3s;
  padding: 0.6rem 1rem;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid white;
  border-radius: 20px; }

.container {
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto; }

.hero-content {
  margin-bottom: 10vh; }

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle; }

nav li {
  list-style: none;
  padding: 2em 0;
  margin: auto; }

nav li a {
  color: white;
  font-weight: 700;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s; }
  nav li a:hover {
    opacity: 1; }

.heros {
  max-width: 960px;
  margin: 0 auto;
  text-align: center; }
  .heros h1 {
    font-size: 2rem;
    font-weight: 300;
    color: #373d46; }
  .heros h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #373d46;
    text-align: center; }

.btn__primary {
  display: inline-block;
  text-decoration: none;
  background: white;
  font-weight: 700;
  font-size: 24px;
  border: 2px solid #867bfb;
  color: #867bfb;
  border-radius: 10px;
  padding: 6px 15px;
  transition-duration: 0.2s; }
  .btn__primary__left {
    float: left; }
  .btn__primary__right {
    float: right; }
  .btn__primary:hover {
    background-color: #867bfb;
    color: white; }

.mb {
  margin-bottom: 3rem; }

.about--p {
  line-height: 32px; }
  .about--p__margin {
    margin: 0; }

.hero-img {
  width: 150px;
  margin-top: 50px;
  border-radius: 50%; }

.tech-img {
  text-align: center;
      display: flex;
    place-content: center;
    flex-flow: wrap;
  padding: 1rem; }

.action-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin-bottom: 3vh;
  background: #867bfb;
  padding: 0.5em 2em;
  border-radius: 20px;
  margin: 1em 0;
  transition: 0.3s; }
  .action-btn:hover {
    box-shadow: 0 10px 50px #bcc5d8; }

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 24px;
  background: #867bfb;
  border-radius: 10px;
  padding: 10px 15px; }
  .btn__left {
    float: left; }
  .btn:hover {
    box-shadow: 0 10px 50px #bcc5d8; }

#contact {
  text-align: center;
  margin-top: 20vh; }

.div-margin {
  margin-bottom: 5vh !important; }

.text-center {
  text-align: center; }

.grid__right div:first-child {
  width: 80%;
  margin: 0px 0px 0px auto; }

.grid__left div:last-child {
  width: 80%;
  margin: 0px auto 0px 0px; }

.grid__left {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-gap: 20px 10px;
  text-align: left; }
  .grid__left p {
    font-size: 1.1rem;
    text-align: left;
    line-height: 27px; }
  .grid__left h2 {
    text-align: left;
    margin: 0;
    font-size: 1.5rem; }

.wrapper div p {
  font-size: 1.1rem;
  text-align: left;
  line-height: 27px; }

.wrapper div h2 {
  text-align: center;
  margin: 0;
  font-size: 1.5rem; }

.grid__left div img {
  width: 100%; }

.grid__right {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-gap: 20px 10px; }
  .grid__right p {
    font-size: 1.1rem; }
  .grid__right h2 {
    margin: 0;
    font-size: 1.5rem; }

.grid__right div img {
  width: 100%; }

.active a {
  opacity: 1 !important; }

.my-project {
  text-align: center;
  font-size: 55px;
  margin: 10vh 0px 0px 0px; }

.primary--color {
  color: #867bfb; }

.divider {
  position: relative;
  margin: 4vh 0px;
  height: 1px; }

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: #867bfb;
  border: 1px solid #303133;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white, 0 0 0 4px white; }

.div-transparent {
  margin: 1vh 0px 10vh 0px; }

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #303133, transparent); }

ul {
  padding: 0px;
  margin: 10px 0px 20px 0px; }

@media (min-width: 1040px) {
  .heros {
    text-align: left;
    margin: 2em auto; }
  .hero-img {
    width: 200px;
    float: right;
    margin-top: 50px; }
  .heros h1 {
    font-size: 3em; }
  .about--p {
    width: 70%; } }

.footer {
  background-color: #867bfb;
  color: white;
  height: 100px; }
  .footer p {
    padding-top: 20px;
    font-size: 20px; }

@media (max-width: 700px) {
  .container {
    width: 90%; }
  .wrapper div h2 {
    font-size: 1.3rem; }
  .footer p {
    font-size: 16px; }
  .my-project {
    font-size: 30px; }
  .item {
    width: 90% !important; }
  .item div p {
    width: 100% !important; }
  .grid__left div h2 {
    font-size: 1.2rem;
    text-align: left; }
  ul {
    text-align: left;
    padding: 0px; }
  .grid__right div:first-child {
    width: 100%;
    margin: 0px; }
  .grid__left div:last-child {
    width: 100%;
    margin: 0px; }
  .hero h1 {
    font-size: 2.5rem; }
  .hero h2 {
    font-size: 1.5rem; }
  .about--p {
    font-size: 1rem;
    text-align: left; }
  .skills div h2 {
    font-size: 1.5rem; }
  .grid__right div h2 {
    font-size: 1.2rem;
    text-align: left; }
  .grid__left div p {
    width: 100%;
    text-align: left;
    line-height: 27px; }
  .grid__right div p {
    width: 100%;
    text-align: left;
    line-height: 27px; }
  .btn__primary {
    display: block;
    width: auto; }
  .btn {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 1.2rem auto 0 auto;
    padding: 0.2em 0.5em; }
  .grid__left {
    grid-template-columns: 1fr;
    text-align: center;
    grid-auto-flow: dense; }
  .grid__right {
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    grid-column-start: 1;
    grid-row-start: 1; }
  .btn__right {
    float: none;
    text-align: center; }
  .btn__left {
    float: none; } }

.disabled {
  pointer-events: none;
  cursor: default;
  padding: 10px 15px;
  background-color: #98a0ad; }

.default--link {
  color: #867bfb;
  text-decoration: none; }

.test {
  color: white; }

.skills {
  background: #867bfb;
  text-align: center;
  padding: 20px 0px 40px 0px; }
  .skills h2 {
    font-size: 3rem;
    color: white; }

.mt {
  margin-top: 10vh; }

.mt-more {
  margin-top: 15vh; }

.wrapper {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; }

.wrapper::-webkit-scrollbar {
  height: 4px; }

.wrapper {
  cursor: grab; }

.wrapper::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); }

.wrapper::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.31); }

.item div p {
  text-align: center; }

::-webkit-scrollbar-corner {
  display: none;
  height: 0px;
  width: 0px; }

.item {
     width: 40%;
    padding: 20px;
    flex-shrink: 0;
    height: 100%;
    text-align: center; }

.wrapper div img {
  width: 80%; }

.wrapper div p {
  line-height: 22px;
  font-size: 1.1rem;
  line-height: 27px; }

.btn__primary--small {
  text-decoration: none;
  font-size: 1.5rem;
  color: #867bfb;
  transition-duration: 0.2s;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 2px solid transparent; }
  .btn__primary--small:hover {
    border: 2px solid #867bfb; }

.btn-tech {
  display: inline-block;
  background: #867bfb;
  font-weight: 600;
  color: #fff;
  padding: 5px 15px;
  font-size: 13px;
  line-height: 18px;
  border-radius: 3px;
  margin-top: 6px;
  margin-left: 3px; }
.hero-img {
 display: none; 
}
.contact {
  background-color: #867bfb; }
